body{
    background-color: red;
}

section, p{
    background-color: ivory;
}

section + p{
    color:blueviolet;
}

h2{
    padding-left: 20px;

    border: 2px solid;
}
h3{
    padding: 50px;
    border: 5px dotted yellowgreen
}
ul{
    border: 10px dotted yellow;
}

/* Below is the code for an example of our h1 id